@using MVC_TimeTracker;
@model ResetPasswordViewModel;


@* @{
    ViewData["Title"] = "ResetPassword";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-3 card p-3">
        <h2 class="text-center text-info">Reset Password</h2>
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="control-label">New Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfirmPassword" class="controle-lable"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-8">
                    <a asp-action="Logins" class="text-decoration-none float-start mt-2">Remember Password?</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="submit" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@

@{
    ViewData["Title"] = "Reset Password";
}

<section class="vh-100 d-flex align-items-center justify-content-center" style="background-color: #3498db;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <h2 class="text-center text-info mb-5">Reset Password</h2>
                                <form asp-action="ResetPassword" method="post" class="mx-1 mx-md-4">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="mb-4">
                                        <label class="form-label" for="Email">Your Email</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label" for="Password">New Password</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-8">
                                            <a asp-action="Logins" class="text-decoration-none float-start mt-2">Remember Password?</a>
                                        </div>
                                        <div class="col-4">
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm float-end" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


